body {
  display: flex;
  gap: 20px;
}

#radios {
  flex: 0 0 300px; /* Ajusta el ancho según tus necesidades */
  background-color: #f2f2f2;
  padding: 20px;
}

#noticias {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#columna1,
#columna2 {
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 10px;
}


article {
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

img {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
  display: block;
  margin: 0 auto;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.modal.show {
  display: block;
}
